/* RESET */

:root {
    background-color: white;

    /* dinamically set through js: (1vmax / 1vmin) + (1vmin / 1vmax) */
    --self-contained-size-unit: 10px;

    --width-reliant-size-unit: calc(1vw + 1px);

    --height-reliant-size-unit: calc(1vh + 1px);

    --font-small: calc(1 * var(--width-reliant-size-unit));
    --font-medium: calc(2 * var(--width-reliant-size-unit));
    --font-big: calc(3 * var(--width-reliant-size-unit));
}

:root, :root * {
    margin: none;
    border: none;
    padding: none;

    font-weight: normal;
    font-style: normal;
    font-size: normal;
}

form {
    display: contents;
}

button {
    background: none;
	border: none;
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* DIMENSION AND SHAPE CLASSES */

.xxxxs {
    width: calc(20 * var(--self-contained-size-unit));
}

.xxxs {
    width: calc(60 * var(--self-contained-size-unit));
}

.xxs {
    width: calc(90 * var(--self-contained-size-unit));
}

.xs {
    width: calc(120 * var(--self-contained-size-unit));
}

.m {
    width: calc(150 * var(--self-contained-size-unit));
}

.l {
    width: calc(180 * var(--self-contained-size-unit));
}

.xl {
    width: calc(210 * var(--self-contained-size-unit));
}

.xxl {
    width: calc(240 * var(--self-contained-size-unit));
}

.xxxl {
    width: calc(270 * var(--self-contained-size-unit));
}

.xxxxl {
    width: calc(300 * var(--self-contained-size-unit));
}

.full {
    width: 100%;
}

.half {
    width: 50%;
}

.square {
    aspect-ratio: 1 / 1;
}

.v-rect {
    aspect-ratio: 1 / 2;
}

/* POSITION CLASSES */

.h-central-alignment {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.v-central-alignment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixed-group {
    position: fixed;
    top: 0;
    left: 0;
}

.bottom-right {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
}

/* GROUPS */

.hidden-container {
    display: none;
}

/* ABSTRACT COMPONENTS */

.hoverable:hover {
    cursor: pointer;
}

/* COMPONENTS */

.svg {
    /* convert color to filter: https://angel-rs.github.io/css-color-filter-generator/ */
    filter: invert(30%) sepia(85%) saturate(3000%) hue-rotate(200deg);
}

.menu {
    background-color: black;
    border-radius: calc(0.5 * var(--width-reliant-size-unit));
    font-size: var(--font-small);
    color: white;
}

.menu > * {
    color: inherit;
    display: block;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: calc(0.2 * var(--width-reliant-size-unit)) solid black;
    border-radius: calc(3 * var(--width-reliant-size-unit));
    padding: 0 calc(1 * var(--width-reliant-size-unit)) 0 calc(1 * var(--width-reliant-size-unit));
}

.card-header {
    text-align: center;
    font-size: var(--font-big);
    font-weight: bold;
}

.card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    font-size: var(--font-medium);
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.form-input {
    border: calc(0.2 * var(--width-reliant-size-unit)) solid black;
    border-radius: 5px 5px 5px 5px;
}

.form-element {
    margin: calc(0.5 * var(--width-reliant-size-unit)) 0px calc(0.5 * var(--width-reliant-size-unit)) 0px;
}

.form-element * {
    width: 50%;
    margin: calc(0.5 * var(--width-reliant-size-unit));
}

.button {
    border: calc(0.2 * var(--width-reliant-size-unit)) solid black;
    border-radius: calc(3 * var(--width-reliant-size-unit));
	padding: calc(0.5 * var(--width-reliant-size-unit));
	font-size: var(--font-medium);
}

.modal {
    
}

@media only screen and (max-width: 768px) {

    .central-alignment {
        flex-direction: column;
    }

    .card {
        padding: calc(1 * var(--height-reliant-size-unit)) 0 calc(1 * var(--height-reliant-size-unit)) 0;
    }

    .form-element {
        margin: calc(2 * var(--width-reliant-size-unit)) 0px calc(2 * var(--width-reliant-size-unit)) 0px;
    }

}