/* RESET */

:root {
    background-color: white;

    /* dinamically set through js: (1vmax / 1vmin) + (1vmin / 1vmax) */
    --self-contained-size-unit: 10px;

    --width-reliant-size-unit: 1vw;

    --height-reliant-size-unit: 1vh;

    --font-small: calc(5 * var(--self-contained-size-unit));
    --font-medium: calc(10 * var(--self-contained-size-unit));
    --font-big: calc(20 * var(--self-contained-size-unit));
}

:root, :root * {
    margin: none;
    border: none;
    padding: none;

    font-weight: normal;
    font-style: normal;
    font-size: normal;
}

form {
    display: contents;
}

/* DIMENSION AND SHAPE CLASSES */

.xxxxs {
    width: calc(20 * var(--self-contained-size-unit));
}

.xxxs {
    width: calc(60 * var(--self-contained-size-unit));
}

.xxs {
    width: calc(90 * var(--self-contained-size-unit));
}

.xs {
    width: calc(120 * var(--self-contained-size-unit));
}

.m {
    width: calc(150 * var(--self-contained-size-unit));
}

.l {
    width: calc(180 * var(--self-contained-size-unit));
}

.xl {
    width: calc(210 * var(--self-contained-size-unit));
}

.xxl {
    width: calc(240 * var(--self-contained-size-unit));
}

.xxxl {
    width: calc(270 * var(--self-contained-size-unit));
}

.xxxxl {
    width: calc(300 * var(--self-contained-size-unit));
}

.full {
    width: 100%;
}

.half {
    width: 50%;
}

.square {
    aspect-ratio: 1 / 1;
}

.v-rect {
    aspect-ratio: 1 / 2;
}

/* POSITION CLASSES */

.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.bottom-right {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
}

/* GROUPS */

.hidden-container {
    display: none;
}

/* ABSTRACT COMPONENTS */

.hoverable:hover {
    cursor: pointer;
}

/* COMPONENTS */

.svg {
    filter: invert(30%) sepia(85%) saturate(3000%) hue-rotate(200deg);
}

.form-input {
    border: var(--self-contained-size-unit) solid black;
    border-radius: 5px 5px 5px 5px;
}

.card {
    width: calc(30 * var(--width-reliant-size-unit));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--self-contained-size-unit) solid black;
    border-radius: calc(5 * var(--self-contained-size-unit));
    padding: calc(10 * var(--self-contained-size-unit));
}

.card-title {
    text-align: center;
    font-size: var(--font-big);
    font-weight: bold;
}

.card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    font-size: var(--font-medium);
}

.form-element {
    display: flex;
    align-items: center;
    margin: calc(5 * var(--self-contained-size-unit)) 0px calc(5 * var(--self-contained-size-unit)) 0px;
}

.form-element * {
    width: 50%;
    margin: calc(3 * var(--self-contained-size-unit));
}

.modal {
    
}